html {
	height: 100%;
}

body {
	/* font-family: "dylFont"; */
	background-color: rgb(37, 37, 37);
	height: 100%;
}

h1 {
	color: white;
}

@font-face {
	font-family: "dylFont";
	src: url(./assets/Monaco.woff) format("woff");
}

textarea,
textarea:focus {
	font-family: "dylFont";
	text-align: center;
	font-size: 80px;
	resize: none;
	width: 60px;
	height: 100px;
	background-color: rgb(30, 30, 30);
	border: none;
	outline: none;
	color: white;
}

#clock_holder {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 100%;
	height: 104px;
}

#input6 {
	margin-right: 5px;
}

#interface_holder_one,
#interface_holder_two {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 20%;
	height: 100%;
}

.colonSeperator {
	font-size: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	color: white;
}

button {
	background-color: rgb(60, 60, 60);
	border: none;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: white;
	margin-top: 2px;
	margin-bottom: 2px;
	height: 100%;
	font-size: 20px;
}

#soundBtn {
	font-size: 50px;
}
